<div>
  <div>
    <div>
      User image here
    </div>
    <h3>Name</h3>
    <span>Posts published: 9</span>
  </div>
  <hr>
  <div>
    <div>
      User image here
    </div>
    <h3>Name</h3>
    <span>Posts published: 1</span>
  </div>
  <hr>
</div>
