<%= render partial: 'partials/userpartial', locals: { user: @user } %>

<div class="user-info">
  <p>Bio
    <p>
    <%= @user.bio%>
    </p>
  </p>

  <% @recent_posts.each do |recent| %>
  <%= render partial: 'partials/postpartial', locals: { post: recent} %>
  <% end %>
  <%= link_to("See all posts", user_posts_path(@user), class: "see-all-btn") %>
</div>
