.post-partial,
.bio,
.comments,
.post {
  display: flex;
  border: 2px solid #333;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px 10px;
  width: calc(100% - 20px);
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.post h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.post .post-stats {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  padding-top: 0;
}

.post-partial * {
  margin: 0;
}

.post-partial .post-stats {
  display: flex;
  justify-content: flex-end;
}

.comments {
  margin-top: -9px;
}

.see-all {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 5px 10px;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  align-self: center;
  text-decoration: none;
  background-color: black;
  color: #fff;
  margin-top: 10px;
}

a {
  text-decoration: none;
}
