.post-partial,
.bio,
.comments,
.post {
  display: flex;
  border: 2px solid #333;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px 10px;
  width: calc(100% - 20px);
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.post h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.post .post-stats {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  padding-top: 0;
}

.post-partial * {
  margin: 0;
}

.post-partial .post-stats {
  display: flex;
  justify-content: flex-end;
}

.comments {
  margin-top: -9px;
}

.see-all {
  white-space: nowrap;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

.new_like {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: -9px;
}

.see-all-btn {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 5px 10px;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  margin-top: 10px;
}

.new_comment {
  display: flex;
  flex-flow: column;
}

.new_comment #comment_text {
  display: inline-block;
  width: 40%;
  height: 100px;
}

.new_comment input {
  width: fit-content;
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.login-button {
  width: 100%;
  padding: 0.5rem;
  padding-right: 50px;
  padding-left: 50px;
}

.login-text {
  text-align: center;
}

.links-signup {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
